@page
@model PizzaCucc.Pages.UjPizzaModel
@{
    
}
<form method="POST">
    <input class="form-input" name="id" type="number" placeholder="pizza id" />
    <input class="form-input" name="name" type="text" placeholder="pizza név" />
    <input class="form-input" type="submit" value="Hozzáadás" />
</form>
